body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.gridContainer {
  justify-content: center;
  display: flex;
  gap: 250px;
  width: 350px;
  height: 350px;
  /* border: solid 1px black; */
}

.gridRow {
  display: flex;
}

.gridCell {
  width: 35px;
  height: 35px;
  border: 1px solid rgba(117, 117, 117, 0.332);
}

.gridCell.ship {
  background: rgba(33, 107, 236, 0.585);
  border: 1px solid rgb(45, 88, 230);
}


.grid2 .gridCell:hover {
  border: 1px solid red;
}

.gridCellM {
  position: relative;
  display: flex;
  justify-content: center;
  width: 35px;
  height: 35px;
  border: 1px solid rgba(117, 117, 117, 0.332);
  background-color: rgba(228, 225, 196, 0.282);
}

.gridCellM > * {
  position: absolute;
  top: -35%;

  font-size: 2rem;
  text-align: center;
}

.gridCellH {
  width: 35px;
  height: 35px;
  border: 1px solid rgba(117, 117, 117, 0.332);
  background-color: red;
}

.gameOverContainer {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  position: absolute;
}
.finalTextDiv{
    font-size: 3rem;
    position: absolute;
    top: 17%;
}

.playAgain{
    position: absolute;
    top: 24%;
}

.playAgainButton{
    position: absolute;
    top:28%;
    width: 90px;
    border-radius: 15px;
    border: none;
    padding: 10px;
    background-color: bla;
    font-weight: bold;
    transition: 1s;
}

.playAgainButton:hover{
    cursor:pointer;
}
.playAgainButton:active{
transform: scale(0.9);
transition: 1s;
}