body {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header{
    position: absolute;
    top: 0%;
font-size: 5rem;

}

.frontPage {
  width: 20%;
  height: 17%;
  border-radius: 15px;
  padding: 20px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}

.frontPage input {
  width: 35%;
  border-radius: 5px;
  border: solid 1px rgba(106, 106, 106, 0.509);
  padding: 5px;
}

.frontPage button {
  width: 35%;
  border-radius: 15px;
  border: none;
  padding: 7px;
  background-color: bla;
  font-weight: bold;
  transition: 1s;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.frontPage button:hover {
  cursor: pointer;
}
.frontPage button:active {
  transform: scale(0.9);
  transition: 1s;
}

.gridContainer {
  justify-content: center;
  display: flex;
  gap: 200px;
  width: 350px;
  height: 350px;
}

.gridRow {
  display: flex;
}

.gridCell {
  width: 35px;
  height: 35px;
  border: 1px solid rgba(117, 117, 117, 0.332);
}

.gridCell.ship {
  background: rgba(33, 107, 236, 0.585);
  border: 1px solid rgb(45, 88, 230);
}

.grid1 {
  position: relative;
  display: flex;
  flex-direction: column;
}

.grid1 .buttonContainer > button {
  width: 90px;
  border-radius: 15px;
  border: none;
  padding: 10px;
  background-color: bla;
  font-weight: bold;
  transition: 1s;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.grid1 button:last-of-type {
  width: 120px;
}

.grid1 button:hover {
  cursor: pointer;
}
.grid1 button:active {
  transform: scale(0.9);
  transition: 1s;
}
.buttonContainer {
  display: flex;
  justify-content: center;
  gap: 5%;
  margin-top: 3%;
}

.grid2 .gridCell:hover {
  border: 1px solid red;
}

.gridCellM {
  position: relative;
  display: flex;
  justify-content: center;
  width: 35px;
  height: 35px;
  border: 1px solid rgba(117, 117, 117, 0.332);
  transition: 0.5s;
}

.gridCellM > * {
  position: absolute;
  top: -35%;

  font-size: 2rem;
  text-align: center;
}

.gridCellH {
  width: 35px;
  height: 35px;
  border: 1px solid rgba(117, 117, 117, 0.332);
  background-color: red;
  transition: 0.5s;
}
.gridRowAlphaNum {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  /* left: 9%; */
  /* top: 2%; */
  margin-left: 37px;
}

.gridAlphaNum {
  /* position: absolute; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  border: 1px solid rgba(255, 255, 255, 0.332);

  text-align: center;
}

.gridRowAlphaNum .gridAlphaNum:last-child {
  border: none;
}

.gameOverContainer {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  position: absolute;
}
.finalTextDiv {
  font-size: 3rem;
  position: absolute;
  top: 20%;
}

.playAgain {
  position: absolute;
  top: 27%;
}

.playAgainButton {
  position: absolute;
  top: 31%;
  width: 90px;
  border-radius: 15px;
  border: none;
  padding: 10px;
  background-color: bla;
  font-weight: bold;
  transition: 1s;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.playAgainButton:hover {
  cursor: pointer;
}
.playAgainButton:active {
  transform: scale(0.9);
  transition: 1s;
}
